ul#menu {
	padding: 0;
	margin: 5px 0 0 0;
	list-style-type: none;
}
ul#menu ol {
	display: none;
	list-style-type: none;
	background-color: #efefef;
	margin: 6px 0px -3px -13px;
	padding: 6px 0px 1px 0px;
	border-top: 1px solid #cccccc;
}

ul#menu li {
/*	font: 12px/12px arial,sans-serif; */
	font: 0.8em arial,sans-serif;
	padding: 6px 0px 6px 13px;
	margin: 0;
	border-bottom: 1px solid #cccccc;
}
ul#menu li a {
	display:block;
}
ul#menu ol li a {
	display:inline;
}
ul#menu ol li {
/*	font:12px/18px arial,sans-serif; */
	font: 0.8em arial,sans-serif;
	padding: 0px 0px 5px 18px;
	margin: 0;
	border: 0;
}

ul#menu a:link, ul#menu a:visited {
	color: #990000;
	font-weight: bold;
	text-decoration: none;
}
ul#menu a:hover {
	font-weight: bold;
	text-decoration: none;
}
ul#menu ol li a:link, ul#menu ol li a:visited {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
ul#menu ol li a:hover {
	color: #333333;
	font-weight: normal;
	text-decoration: underline;
}
